@import "../common/styles/variables";

.viewCircle {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $secondaryColor;
  color: white;
  cursor: pointer;
}

.container {
  top: -50px;
  left: -50px;
  position: fixed;
  z-index: 10;
}


.overlayContainer {
  position: absolute;
  top: -170px;
  left: -170px;
  height: 440px;
  width: 440px;
  z-index: -1;
  overflow: hidden;
}

.slider {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overlay {
  flex: 0 0 100%;
  position: relative;
  background-color: black;
  width: 100%;
  height: 440px;
}


.imgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 41px;
  left: 34px;
}