@import "../common/styles/variables";

.container {
  position: fixed;
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $secondaryColor;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.text {
  position: absolute;
  top: 41px;
  left: 34px;
}