
.portfolio {
    background-color: #191919;
}

.portfolio h2 {
    font-size: 2em;
    border: 1px solid white;
}

.item {
    margin: 10px 10px;
    width: 310px;
    height: 499px;
    padding: 60px 30px 30px 30px;
    border-radius: 10px;
    background: url("./../../assets/photo/portfolio-7.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.itemContentContainer {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemContentContainer span {
    color: #9c9eaa;
    font-size: 0.8em;
}

.itemContentContainer h3 {
    margin: 0;
    font-size: 1.4em;
}

.itemContentContainer div {
    border: 2px solid #9c9eaa;
    font-size: 0.8em;
    padding: 5px 30px;
    border-radius: 5px;
}