@import '../common/styles/mixins';
@import '../common/styles/variables';


.home {
  position: relative;
  min-height: 100vh;
  background: center no-repeat url("./../../../assets/photo/photo.png");
  background-size: cover;
  overflow: hidden;
}
