@import '../common/styles/mixins';
@import '../common/styles/variables';


.home {
  position: relative;
  min-height: 100vh;
  background: center no-repeat url("./../../../assets/photo/photo.png");
  background-size: cover;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 50vh;
  left: 10%;
  @include text($secondaryFontFamily, 3vh, 300, 130%);
}

.iconContainer {
  position: absolute;
  top: 35vh;
  left: 10%;
}
