$primaryColor: #ffedf2;
$primaryColorDark: rgba(198, 201, 216, .75);
$secondaryColor: #f9004d;
$bodyColor: #191919;
$sndBodyColor: #101010;


@mixin flexContainer($direction, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}