$primaryColor: #ffedf2;
$primaryColorDark: rgba(198, 201, 216, .75);
$secondaryColor: #f9004d;
$bodyColor: #191919;
$sndBodyColor: #101010;


$primaryFontFamily: 'Poppins', sans-serif;
$secondaryFontFamily: "Montserrat", sans-serif;

$primaryTransition:  all .3s cubic-bezier(.645, .045, .355, 1);