
.contact {
    background-color: #101010;
}


.contact h2 {
    font-size: 2em;
    margin: 0;
}

.contact p {
    color: #9c9eaa;
}


.contact p span {
    color: #f8f8f8;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
    border: 1px solid white;
}

.inputForm {
    color: rgba(198, 201, 216, .75);
    border: 2px solid rgba(255,255,255,.2);
    display: block;
    background: 0 0;
    width: 100%;
    padding: 0 20px;
    color: rgba(198, 201, 216, .75);
    border-radius: 5px;
    height: 50px;
    line-height: 46px;
    outline: none;
    font-size: 15px;
    letter-spacing: 0.1px;

}

.textAreaForm{
    height: 100px;
}

.button{
    border: 2px solid #f9004d;
    background: #f9004d;
    color: #fff;
    padding: 15px 40px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: .3s;
    font-size: 16px;
    letter-spacing: 2px;
}
