@import '../common/styles/variables';
@import '../common/styles/mixins';


.portfolio {
  background-color: #191919;

  .secondContainer {
    width: 100%;
    @include flexContainer(column, space-between, center);

    .container {
      @include flexContainer(row, space-between, center);
      margin: 0 -15px;
      width: 100%;

      .itemContainer {
        margin-top: 30px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @include flexContainer(column, flex-end, center);
        text-align: center;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        @media screen and (min-width: 576px) {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media screen and (min-width: 768px) {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media screen and (min-width: 992px) {
          -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }

        .project {
          border-radius: 10px;
          position: relative;
          width: 100%;
          padding-top: 35%;
          z-index: 4;
          min-height: 600px;
          @media only screen and (min-width: 992px) and (max-width: 1599px) {
            min-height: 500px;
          }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            min-height: 450px;
          }
          @media only screen and (max-width: 767px) {
            min-height: 400px;
          }

          &:hover {
            .thumbnailInner {
              transform: scale(1.08) translateZ(0);

              &::before {
                opacity: .85;

              }

              .thumbnailImage {
                transform: scale(1) translateZ(0);
              }
            }
          }

          .thumbnailInner {
            transition: transform .28s ease;
            z-index: 3;
            @include pseudo();
            background-size: cover;
            background-position: center;
            overflow: hidden;
            border-radius: 5px;

            &::before {
              background-color: #f6004c;
              background-image: linear-gradient(#f6004c 10%, #000 100%);
              content: "";
              @include pseudo();
              z-index: 5;
              opacity: 0;
              transition: all .3s cubic-bezier(.645, .045, .355, 1);
            }

            .thumbnailImage {
              @include pseudo();
              background-size: cover;
              background-position: center;
              border-radius: 5px;
              background-color: #0a0a0a;
              backface-visibility: hidden;
              transition: transform .28s ease;
              transform: scale(1.13) translateZ(0);
              z-index: 4;
              opacity: 1;
              &::after {
                @include pseudo();
                content: " ";
                z-index: 1;
                display: block;
                border-radius: 5px;
                background-color: rgba(25, 25, 25, .37);
              }
              &:hover::after {
                background-color: rgba(25, 25, 25, .24);
              }
            }
          }
          .content {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            max-width: 100% !important;
            z-index: 10;
            padding: 0;

            p {
              color: #c6c9d8;
              @include text($primaryFontFamily, 14px, 400, 1.7);
              margin-bottom: 15px;
            }

            h4 {
              @include text($primaryFontFamily, 24px, 600, 27px);
              color: #fff;
            }

            .button {
              margin-top: 35px;
              .rnBtn {
                @include text($primaryFontFamily, 14px, 400, 34px);
                transition: $primaryTransition;
                color: #fff;
                border: 2px solid rgba(255, 255, 255, .3);
                padding: 0 23px;
                height: 40px;
                display: inline-block;
                border-radius: 4px;
                position: relative;
                z-index: 2;
                letter-spacing: .2px;
                background: 0 0;
                &:hover {
                  border: 2px solid $secondaryColor;
                  background-color: $secondaryColor;
                  transform: translateY(-3px);
                }
              }
            }
          }
        }
      }
    }
  }
}
