@import '../styles/mixins';
@import '../styles/variables';

.container {
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: -20px 0 20px 0 !important;
  text-align: center !important;

  .title {
    color: #fff;
    @include text($primaryFontFamily, 60px, 700, 1.4074);
    margin: 0 0 8px 0;
    @media only screen and (max-width: 767px) {
      font-size: 40px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 50px;
    }
  }

  p {
    color: $primaryColorDark;
    @include text($primaryFontFamily, 18px, 300, 30px);
    margin-bottom: 0;
    padding: 0 24%;
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 0 18%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding: 0 4%;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
      font-size: 16px;
      line-height: 28px;
    }
  }
}