@import '../common/styles/mixins';
@import '../common/styles/variables';

.title {
  display: flex;
  position: absolute;
  bottom: 15vh;
  @include text($secondaryFontFamily, 75px, 300, 130%);
  font-size: max(5vw, 8vw);
  left: 0;
  animation: 15s scrollText infinite linear;
}

h1 {
  width: max-content;
  color: $whiteColor;
  font-weight: 400;
  letter-spacing: 5px;
}

