@import '../common/styles/mixins';
@import '../common/styles/variables';

:local {
  .title {
    display: flex;
    position: absolute;
    bottom: 12vh;
    left: 0;
    animation: 15s scrollText infinite linear;
  }

  .name {
    @include text($secondaryFontFamily, max(9vw, 12vw), 300, 130%);
    width: max-content;
    color: $whiteColor;
    font-weight: 400;
    letter-spacing: 5px;
  }
}

