@import '../common/styles/variables';
@import '../common/styles/mixins';


.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 6vw 0;
  width: 100%;

  &:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $primaryColorDark;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $primaryColorDark;
  }
}

.projectName {
  @include text($primaryColor, 70px, 300, 1);
  width: 70%;
  padding-left: 7%;
  letter-spacing: 3px;
  transition: all .3s cubic-bezier(.7, 0, .3, 1);;
}

.projectDescription {
  padding-top: 2em;
  padding-right: 7%;
  @include text($primaryFontFamily, 16px, 300, 1);
  transition: all .3s cubic-bezier(.7, 0, .3, 1);;
}

.projectHovered {
  & .projectDescription {
    opacity: .5;
    transform: translateX(4%);
  }

  & .projectName {
    opacity: .5;
    transform: translateX(-4%);
  }
}
