@import 'n1-main/m1-UI/common/styles/variables';

.App {

}

.App section{
  padding: 120px 0;
}
.App section:nth-child(2n){
    background-color: $bodyColor;
}
.App section:nth-child(2n+1){
  background-color: $sndBodyColor;
}

h2{
  font-size: 60px;
}