@import '../common/styles/variables';
@import '../common/styles/mixins';

.skills {
  .itemContainer {
    height: 100%;
    position: relative;
    border-radius: 10px;
    z-index: 2;
    @include flexContainer(column, center, center);

    a {
      display: block;
      position: relative;
      background-color: $bodyColor;
      padding: 60px 45px;
      z-index: 2;
      border-radius: 10px;
      top: 0;
      transition: $primaryTransition;
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 33px 22px;
      }
      @media only screen and (max-width: 991px) {
        padding: 35px 20px;
      }

      .logo {
        display: block;
        height: 54px;
        width: 54px;
        margin-bottom: 23px;
        z-index: 1;
        top: 0;
        filter: invert(11%) sepia(100%) saturate(5404%) hue-rotate(335deg) brightness(105%) contrast(111%);
        transition: $primaryTransition;
      }

      h3 {
        color: #fff;
        margin-bottom: 19px;
        @include text($primaryFontFamily, 24px, 500, 1.4074);
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 20px;
          margin-bottom: 14px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          font-size: 22px;
        }
        @media only screen and (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 14px;
        }
      }

      p {
        @include text($primaryFontFamily, 18px, 300, 30px);
        color: $primaryColorDark;
        transition: $primaryTransition;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 28px;
        }
      }

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-image: linear-gradient(to right, #f61b10, #ef0963);
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
      }

      &:hover {
        top: -5px;
        box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 10%);
        .logo {
          filter: invert(13%) sepia(100%) saturate(5404%) hue-rotate(335deg) brightness(100%) contrast(0%);
        }
        p {
          color: #fff;
        }
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }
}


